.create-bar {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	.input-bar {
		all: unset;

		height: 100%;
		margin-right: 5px;
		padding-left: 5px;
		border-radius: 5px;
		text-align: left;
		user-select: none;

		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
			rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		transition: box-shadow 0.2s ease-out;

		&::-webkit-input-placeholder {
			font-size: 0.8em;
		}

		&:focus {
			box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px,
				rgba(27, 31, 35, 0.3) 0px 0px 0px 1px;
		}
	}

	.submit-button {
		all: unset;

		height: 100%;
		width: 3em;

		font-size: 0.75em;
		text-align: center;
		cursor: pointer;

		padding: 0 3px;
		border-radius: 5px;

		color: white;
		background-color: #337ab7;

		opacity: 1;
		transition: opacity 0.2s ease-out;

		&:hover {
			opacity: 0.75;
		}
	}
}
