.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	padding: 5px 20px;

	background-color: peachpuff;

	.title {
		font-size: 2em;
		font-weight: 600;
	}

	.subtitle {
		font-size: 0.8em;
	}
}
